<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div >
            {{>header}}
            <br>
            <p>Created by: {{name}}</p>
            <img class="portrait" src="/img/profilepic.jpg">
        </div>
        {{>footer}}
    </body>


</html>